<div class="holder"
     [class.show]="isImageLoaded"
     [class.fullScreen]="isFullScreenMode">

  <div class="content"
       *ngIf="currentPicture">
    <div class="info">
      <span class="author">{{currentPicture.author}}</span>
      <span class="camera">{{currentPicture.camera}}</span>
      <span class="tags">{{currentPicture.tags}}</span>
    </div>

    <span class="image"
          [style.backgroundImage]="backgroundImage"
          (click)="toggleFullScreen()"></span>

    <button class="close"
            (click)="close()">&#43;</button>
    <button class="arrow previous"
            (click)="previous()"
            [disabled]="isPreviousButtonDisabled">&lt;</button>
    <button class="arrow next"
            (click)="next()"
            [disabled]="isNextButtonDisabled">&gt;</button>
  </div>

  <div class="social">
    <ul>
      <li>
        <span class="facebook"
              title="Share on Facebook"
              (click)="shareFacebookUrl()"></span>
      </li>
      <li>
        <span class="twitter"
              title="Twitter"
              (click)="shareTweetUrl()"></span>
      </li>
      <li>
        <span class="mail"
              title="Email"
              (click)="shareMailUrl()"></span>
      </li>
      <li>
        <span class="linkedin"
              title="Linkedin"
              (click)="shareLinkedinUrl()"></span>
      </li>
    </ul>
  </div>

</div>
